html,
body {
	--font-family-primary: 'Arimo', sans-serif;
	--font-family-secondary: 'Play', sans-serif;
	--account-avatar-size: 200px;
	padding: 0;
	margin: 0;
}

* {
	font-family: var(--font-family-primary);
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

h1 {
	font-family: var(--font-family-secondary);
	font-size: 3rem;
	text-align: center;
}

h2,
.subheading {
	font-family: var(--font-family-secondary);
	font-size: 1.5rem;
}

/* Grid */

.container {
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	justify-content: center;
}

@media only screen and (min-width: 60em) {
	/* 960px */
	.container {
		width: 75vw;
		justify-content: unset;
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
